/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background: #F2F2FDFF;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#logo-img {
    position: fixed;
    top: 25px;
    left: 15px;
}

.login-box {
    margin: auto auto;
    background: #FFFFFFFF;
    border-radius: 24px; 
    box-shadow: 0px 4px 9px #171a1f1C, 0px 0px 2px #171a1f1F;
}

.login-box>h2 {
    margin: 50px auto 50px auto;
    text-align: center;
    font-size: 34px; 
    line-height: 36px; 
    font-weight: 800; 
    color: #171A1FFF;
}

.user-details {
    margin: 50px 50px 0px 50px;
}

.user-details>h5 {
    font-size: 28px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}

.email {
    margin-bottom: 10px;
    padding: 15px 150px 15px 20px;
    font-size: 18px; 
    font-weight: 400; 
    background: #F3F4F6FF;
    border-radius: 6px;
    border-width: 0px; 
    outline: none; 
}

.password {
    padding: 15px 80px 15px 20px;
    font-size: 18px; 
    font-weight: 400; 
    background: #F3F4F6FF; 
    border-radius: 6px; 
    border-width: 0px; 
    outline: none; 
}

.password-box {
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    background: #F3F4F6FF; 
    border-radius: 6px; 
    border-width: 0px; 
    outline: none; 
}

.password-box> img{
    display: inline;
    vertical-align:middle;
    width: 25px;
    cursor: pointer;
}


input:hover {
  color: #171A1FFF;
  background: #F3F4F6FF;
}
/* focused */
input:focused {
  color: 171A1FFF;
  background: #FFFFFFFF;
}
/* disabled */
input:disabled {
  color: #BCC1CAFF; 
  background: #F3F4F6FF; 
}

.button {
  margin: 30px auto 20px auto;
  padding: 10px 40px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 18px; 
  font-weight: 700; 
  color: #FFFFFFFF;
  background: #636AE8FF; 
  opacity: 1; 
  border: none; 
  border-radius: 6px;
  cursor: pointer;
}
/* Hover */
.button:hover {
  color: #FFFFFFFF;
  background: #4850E4FF;
}
/* Pressed */
.button:hover:active {
  color: #FFFFFFFF; 
  background: #2C35E0FF;
}
/* Disabled */
.button:disabled {
  opacity: 0.4; 
}

.user-details>p {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
} 

.user-details>p>a {
    font-weight: 700;
}

.user-details>p>a:link {
    color: #2C35E0FF;
    text-decoration: none;
}

.user-details>p>a:hover {
    color: slateblue;
    text-decoration: none;
};

.user-details>p>a:visited {
    color: rgb(85, 0, 255);
    text-decoration: none;
}


/* Media Queries Section */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media (max-width: 572px) {
    .user-details{
        margin: 0;
    }

    .login-box {
        width: 95vw;
    }
    .login-box>h2 {
        font-size: 24px;
        margin: 25px auto 25px auto;
    }

    .user-details>h5 {
        font-size: 18px;
        margin-left: 15px;
    }

    .email {
        padding: 15px 30px 15px 20px;
        width: 92%;
        margin-left: 15px;
        border-radius: 8px;
        font-size: 18px;
    }


    .password {
    padding: 15px 5px 15px 20px;
    font-size: 18px; 
    font-weight: 400; 
    width: 90%;;
    background: #F3F4F6FF; /* neutral-200 */
    border-radius: 6px; /* border-m */
    border-width: 0px; 
    outline: none; 
    margin-left: 0;
    }

    .password-box {
        padding-right: 10px;
        margin-left: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:92%;
        background: #F3F4F6FF;
        border-radius: 6px; 
        border-width: 0px; 
        outline: none; 
    }

    .password-box> img{
        display: inline;
        vertical-align:middle;
        width: 25px;
        cursor: pointer;
    }


    .button {
    margin: 20px auto 0px auto;
    }

    .user-details>p{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #logo-img {
        width: 140px;
    }
}